.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50%;
	width: 100%;
}

.game:focus {
	outline: none;
}

h1 {
	width: 50%;
	border-bottom: 1px solid #c4c4c4;
	margin-bottom: 5%;
}

.board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90%;
	width: 60%;
}

.line {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 15%;
	max-width: 550px;
	max-height: 70px;
	margin-bottom: 6px;
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 15%;
	font-size: 2.5vw;
	font-weight: 900;
	border: 1px solid #c4c4c4;
	transition: background-color 0.5s ease;
}

.square.animate {
	animation: 0.3s letterAnim ease;
}

.line.invalid {
	animation: shake 0.3s;
}

.keyboard {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
}

.row {
	display: flex;
	width: 100%;
	justify-content: center;
}

.key {
	flex: 1 0 auto;
	margin: 5px;
	padding: 16px;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: #c4c4c4;
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
}

.key:active {
	background-color: #d0d0d0;
}

.submit-button {
	width: 100%;
	margin: 5px 0;
	padding: 20px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #c4c4c4;
}

.submit-button:active {
	background-color: #d0d0d0;
}

.green {
	background-color: rgb(0, 148, 0);
}

.gray {
	background-color: rgb(77, 77, 77);
}

.yellow {
	background-color: rgb(198, 198, 0);
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-6px);
	}

	50% {
		transform: translateX(6px);
	}

	75% {
		transform: translateX(-6px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes letterAnim {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-3px);
	}

	75% {
		transform: translateY(-1px);
	}

	100% {
		transform: translateY(0);
	}
}

@media only screen and (max-width: 600px) {
	.key {
		padding: 10px;
		font-size: 14px;
	}

	.submit-button {
		padding: 10px;
		font-size: 14px;
	}
}

@media only screen and (max-width: 450px) {
	.key {
		padding: 8px;
		font-size: 12px;
	}

	.submit-button {
		padding: 8px;
		font-size: 12px;
	}
}

@media only screen and (max-width: 320px) {
	.key {
		padding: 5px;
		font-size: 10px;
	}

	.submit-button {
		padding: 5px;
		font-size: 10px;
	}
}
